.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #eee;
    padding-top: 62px;
    box-shadow: 0 0 2px rgb(97, 97, 97);
}
.sidebar a {
    display: block;
}
.sidebar ul {
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    list-style: none;
}
.sidebar ul li a {
    display: block;
    color: rgb(83, 83, 83);
    padding: 5px 10px;
    margin: 5px 0px;
    border-radius: 5px;
    text-decoration: none;
}
.sidebar ul li a.active {
    background-color: rgba(20, 45, 52, 0.9);
    color: white;
}
.admin-container {
    margin-left: auto;
    padding-top: 62px;
}
