.admin-navbar {
    z-index: 1;
    background-color: rgba(20, 45, 52);
}
.logout-link {
    cursor: pointer;
    color: #fff;
}
.navbar-brand img {
    width: 1.5rem;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}
