.admin-navbar {
    z-index: 1;
}
.nav-link {
    cursor: pointer;
}
.navbar-brand img {
    width: 1.5rem;
}
.admin-navbar {
    background-color: rgba(20, 45, 52, 0.9);
}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}
