.signin-container {
    background-image: url("../../images/signin.jpg");
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    padding: 4rem 0;
}
.signin {
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    max-width: 37.5rem;
    border-radius: 1.25rem;
}
.signin-heading {
    font-size: 2.3rem;
    font-weight: bold;
    color: #373941;
    text-align: center;
    margin-bottom: 2rem;
}
.signin-label {
    font-size: 1rem;
    color: #373941;
    font-weight: 500;
    margin: 0.625rem 0 0.625rem 0;
    display: inline-block;
    cursor: pointer;
}
.signin-input {
    display: block;
    width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    outline: none;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}
.signin-submit {
    padding: 1.5rem;
    color: white;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
    outline: none;
    display: inline-block;
    width: 100%;
    border-radius: 1.25rem;
    background-color: rgba(22, 45, 51, 0.9);
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 1px 10px 0 rgba(17, 35, 39, 0.9);
    margin: 1rem 0 0.6rem 0;
}
.signup-link {
    color: #2979ff;
    text-decoration: none;
    font-weight: 600;
}
